<div class="m-5">
    <div class="container">
        <h1>О нас</h1>
        <hr>
        <p>В нашем автосалоне Вы можете ознакомиться с модельным рядом новых и подержанных автомобилей, записаться на тест-драйв нужного авто, оставить заявку на кредит.</p>
        <hr>
        <p>Телефон: 88005553535</p>
    </div>
</div>